*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Color Variables */

  --light-pink: #b268f8;
  --light-sand: #e8e38f;
  --dark-grey: #a9a9a9;
  --off-black: #111111;
  --light-blue: #73def1;
}

body {
  background-color: #e8e38f;
  position: relative;
  transition: background 0.2s linear;
}

body.dark {
  background-color: black;
}

/* body.dark h1,
body.dark .support a {
  color: #fff;
} */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

header {
  background-color: #b268f8;
  height: 10vh;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.header__title-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.main-content {
  width: 100%;
  position: absolute;
  top: 10vh;
  height: calc(100vh - 20vh);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-section {
  width: 90%;
  height: 400px;
  background-color: var(--dark-grey);
  border-radius: 5px;
  margin: 20px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;

  padding: 5%;
}

.dark-card-section {
  width: 90%;
  height: 400px;
  background-color: var(--off-black);
  border-radius: 5px;
  margin: 20px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;

  padding: 5%;
}

main {
  min-width: 300px;
}

.navbar-container {
  background-color: rgb(178, 104, 248);
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 99;
}

.navbar__home,
.navbar__bookmark,
.navbar__profile,
.navbar__add-question {
  width: calc(100vw / 4);
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__home-img,
.navbar__bookmark-img,
.navbar__profile-img,
.navbar__add-question-img {
  max-width: 40px;
  transition: max-width 0.7s;
}

.navbar__home-img:hover,
.navbar__home-img:focus,
.navbar__bookmark-img:hover,
.navbar__bookmark-img:focus,
.navbar__profile-img:hover,
.navbar__profile-img:focus,
.navbar__add-question-img:hover,
.navbar__add-question-img:focus {
  animation: rotateOnce 0.7s forwards;
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.marked-bookmark {
  content: url("../images/bookmark_filled.png");
}

.main__card__button-show-answer {
  background-color: #73def1;
  min-height: 50px;
  max-height: 50px;
  width: 200px;
  border-radius: 20px;
  border: black solid 2px;
  background-color: #73def1;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
}

.main__card__button-show-answer:hover {
  cursor: pointer;
  animation: scaleButton 1s infinite alternate;
}

@keyframes scaleButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* .main__card__button-show-answer {
  background-color: #73def1;
  min-height: 50px;
  max-height: 50px;
  width: 200px;
  border-radius: 20px;
  border: black solid 2px;
  background-color: #73def1;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out 1s;
}

.main__card__button-show-answer:hover {
  cursor: pointer;
  animation: scaleButton 1s forwards;
}

@keyframes scaleButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
} */

.navbar__home-darker-selection,
.navbar__bookmark-darker-selection,
.navbar__profile-darker-selection,
.navbar__add-question-darker-selection {
  background-color: #9253cc;
  width: calc(100vw / 4);
}

.navbar__home:hover,
.navbar__bookmark:hover,
.navbar__profile:hover,
.navbar__add-question:hover {
  background-color: #9253cc;
}

@media (min-width: 768px) {
  .--bookmark-icon-card {
    min-width: 30px;
    max-width: 40px;
  }
}

@media (min-width: 1024px) {
  .--bookmark-icon-card {
    min-width: 30px;
    max-width: 40px;
  }
}
